body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #4a628a;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #dff2eb;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
  margin-right: 15px;
}

.cart-header h2 {
  margin: 0;
  font-size: 24px;
  color: #dff2eb;
}

.cart-container,
.contact-container {
  background-color: #ffffff;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 40px auto;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(29% - 20px); /* Para mostrar 3 items por fila */
}

.item-img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  object-fit: contain;
  height: auto;
  max-width: calc(50% - 10px);
}

.item h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.item p {
  margin: 5px 0;
  color: #555;
}

.add-to-cart {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #7ab2d3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart:hover {
  background-color: #b9e5e8;
  color: #555;
}

.reviews {
  margin-top: 15px;
  text-align: left;
}

.reviews h4 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.reviews p {
  margin: 5px 0;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group {
  margin-bottom: 12px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input,
.form-group textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 50%;
  padding: 10px 0;
  background-color: #7ab2d3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  align-self: center;
}

button[type="submit"]:hover {
  background-color: #b9e5e8;
  color: #555;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.reviews h4 {
  grid-column: span 2;
  font-size: 16px;
  color: #333;
  margin: 0 0 5px 0;
}

.reviews p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

footer {
  text-align: center;
}

.cart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.cart-icon img {
  width: 30px;
  height: 30px;
}

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  margin-left: 5px;
}

/* Media Queries */
@media (max-width: 600px) {
  .cart-container,
  .contact-container {
    padding: 20px 30px;
  }

  .cart-header h2,
  .contact-container h2 {
    font-size: 20px;
  }

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }

  .item {
    width: 100%;
  }

  .item h3,
  .reviews h4 {
    font-size: 18px;
  }

  .item p,
  .reviews p,
  .form-group input,
  .form-group textarea,
  button[type="submit"] {
    font-size: 14px;
  }

  .add-to-cart {
    font-size: 14px;
  }
}
